*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, rgb(12, 7, 27),rgb(85, 4, 85));
}
section {
    padding: 54px 0;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 8%;
    background-color: rgba(0, 0, 0, 1);
}
nav a{
    margin-left: 5%;
    line-height: 15px;
    font-size: 35px;
    color: white;
    line-height: 8vh;
}
ul{
    float: right;
    margin-right: 5%;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
.banner{
    display: flex;
    justify-content: center;
    
}
.banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner-text h1{
    font-size: 96px;
    color: rgb(255, 255, 255);
}
.banner-text p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    margin: 18px 0;
}

.dif-serv h2{
    text-align: center;
    font-size: 30px;
    color: white;
}
.dif-serv p{
    margin-bottom: 20px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
}
.dif-serv .card-item{
    background-color: white;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.dif-serv .card-item img{
    border-radius: 13px;
    height: 240;
    width: 350px;
    display: block;

}
.dif-serv .card-item .nome-user {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.dif-serv .card-item .paragrafo {
    font-size: 15px;
    padding: 0 15px;
}
.dif-serv .card-item:hover{
    background-color:  #b54ff9;
    margin-top: -5px;
    color: white;
}
.dif-serv .card-item2{
    background-color: white;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.dif-serv .card-item2 img{
    border-radius: 13px;
    max-width: 350px;
    height: 240px;
    display: block; 
}
.dif-serv .card-item2 .nome-user {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.dif-serv .card-item2 .paragrafo {
    font-size: 15px;
    padding: 0 15px;
}
.dif-serv .card-item2:hover{
    background-color:  #b54ff9;
    margin-top: -5px;
    color: white;
}
.dif-serv .card-item3{
    background-color: white;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.dif-serv .card-item3 img{
    border-radius: 13px;
    width: 350px;
    height: 240px;
    display: block;
}
.dif-serv .card-item3 .nome-user {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.dif-serv .card-item3 .paragrafo {
    font-size: 15px;
    padding: 0 15px;
}
.dif-serv .card-item3:hover{
    background-color:  #b54ff9;
    margin-top: -5px;
    color: white;
}
.dif-serv .card-item4{
    background-color: white;
    margin: 15px;
    border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
}
.dif-serv .card-item4 img{
    border-radius: 13px;
    width: 350px;
    height: 230px;
    display: block;
}
.dif-serv .card-item4 .nome-user {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.dif-serv .card-item4 .paragrafo {
    font-size: 15px;
    padding: 0 15px;
}
.dif-serv .card-item4:hover{
    background-color:  #b54ff9;
    margin-top: -5px;
    color: white;

}
.footer{
    background-color: black;
    width: 100%;
    color: white;
    padding: 1%;
    text-align: center;
}
.footer a{
    margin-left: 10;
    
}
.footer a i{
    color: white;
}